<div class="menuHomeHome">
    <h1 class="hometitlemenu">  We need more spaces for gardening 🌷</h1>
</div>

<div class="home">
<h2 class= "home" id="hometitle">Fuck e-scooters, fuck social pressure, fuck consumerism BUT do not fuck gardening. </h2>

                <p class= "home">
                    Tempelhof represents an open field that should be used for a
                    bigger purpose : GARDENING FOR ALL!
                
                    In order to get the attention of our politics on the current
                    global issues, we need to rise up our voices for everyone`s right
                    to grow together with nature.
                
                    By signing this petition, you are joining a group of fierce
                    Kapitalismus resistent humans, fighting for a better future!
                </p>

<div class="homeButton">
<a class="home" id="HomeButton" style="text-decoration:none" name="HomeReg" href="/register"> register now </a>
<a class="home" id="HomeButton" style="text-decoration:none"  name="HomeLog" href="/login" > login </a>
</div>
<img class="homeimg" src="gardening.jpg"> 
 
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
 <script src="script.js"></script>
</div>